body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#task-list li:hover {
    background-color: #a29b9b;
    color: azure;
}

#task-list li.done {
    text-decoration: line-through;
}